<h1>Missing animals, that are also lost</h1>
<ul>
  <% @pets.each do |pet| %>
    <li>
      <p><%= link_to pet.name, pet %></p>
      <%#= link_to pet.name, pet_path(pet) %>
      <%#= link_to pet.name, pet_path(pet.id) %>
      <p><%= pet.species %></p>
      <p><%= pet.address %></p>
      <p><%= pet.found_days_ago %></p>
    </li>
  <% end %>
</ul>
